# DevInfra team is default owner of anything in the repo.
* @swift-nav/devinfra
/rust @notoriaga @silverjam @pcrumley @isaactorz
/c @swift-nav/platform @silverjam @isaactorz

# Add new codeowners above here
