sudo: false

language: c

addons:
  apt:
    packages:
    - check
    - doxygen
    - cmake
    - gradle
    - libgmp-dev
    - oracle-java8-installer
    - oracle-java8-set-default

env:
  - JAVA_HOME=/usr/lib/jvm/java-8-oracle

cache:
  apt: true
  directories:
    - $HOME/.stack/
    - .stack-work/

before_install:
  - mkdir -p $HOME/texlive && curl -L https://github.com/urdh/texlive-blob/releases/download/20160619/texlive.tar.xz | tar -JxC $HOME/texlive
  - export PATH="$PATH:$HOME/texlive/bin/x86_64-linux"
  # Install stack
  - mkdir -p $HOME/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C $HOME/.local/bin '*/stack'
  # Install node 6; from https://github.com/nodejs/nan/blob/master/.travis.yml
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install 7
  - npm install npm
  - mv node_modules npm
  - npm/.bin/npm --version
  - npm/.bin/npm install
  - pip install --user tox

matrix:
  include:
    - env:
        - TRAVIS_TARGET=default
    - env:
        - TRAVIS_TARGET=haskell-tools
      before_install: |
        sudo apt-get update
        sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
      script: |
        cd haskell
        docker build -t sbp2json .
        docker run --rm --name sbp2json sbp2json >sbp_linux_tools.tar
        gzip sbp_linux_tools.tar

deploy:
  provider: releases
  api_key:
    secure: "EbM5FzcjE5waVpl0fl3J/rorE3UbhbX+gyhbjIv35GqHU5Ifwo5oMo2xno8G8y83PTzVFvpF9n/AWxRtKUEB2j5gtK1uljBheeBHmXIs6G7LdBZPq2bexPRpO2N7GgS1huWd8Z8YSwsoxC5/OR/hwIU1KgEY/ol2q15XiZLsl4c="
  file: haskell/sbp_linux_tools.tar.gz
  skip_cleanup: true
  on:
    tags: true

install:
  # - tlmgr update --self
  # - tlmgr install standalone #standalone.sty
  # - tlmgr install cmbright #cmbright font
  - pip install --upgrade --user Sphinx
  - npm install -g mocha
  - npm install

script:
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - make test
  # - make docs
