---
AlignAfterOpenBracket: Align
AlignEscapedNewlines: DontAlign
AlignOperands: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakBeforeInheritanceComma: 'true'
BreakConstructorInitializers: AfterColon
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'false'
SpaceBeforeParens: ControlStatements
TabWidth: '2'
IndentCaseLabels: 'true'

...
