include *.cfg
include *.md
include *.rst
include *.py
include *.sh
include *.txt
include .coveragerc
include .gitignore
include LICENSE
include tox.ini
include sbp/RELEASE-VERSION
recursive-include sbp *.py
prune docs/_build
