boto==2.38.0
construct==2.5.2
cov-core==1.15.0
coverage==3.7.1
flake8==2.3.0
futures==2.2.0
pep8==1.5.7
pyftdi==0.6.3
pylibftdi==0.14.2
pyserial==2.7
pytest==2.6.4
pytest-cov==1.8.1
pyyaml==3.11
tox==1.8.1
virtualenv==1.11.6
