#######################################################################
###                                                                 ###
### WARNING: This file is generated, please update the template at: ###
###            generator/sbpg/targets/resources/sbp2json-cargo.toml ###
###                                                                 ###
#######################################################################

[package]
name = "sbp2json"
version = "3.0.0"
authors = ["Swift Navigation <dev@swiftnav.com>"]
edition = "2018"

[dependencies]
structopt = "0.3"
lazy_static = "1.4"

[target.'cfg(all(not(windows), not(target_env = "musl")))'.dependencies]
jemallocator = "0.3"

[dependencies.sbp]
path = "../sbp"
features = ["sbp2json"]

[dev-dependencies]
sha2 = "0.8"
hex = "0.4"

[profile.release]
lto = true
codegen-units = 1

[[bin]]
name = "sbp2json"
path = "src/sbp2json.rs"

[[bin]]
name = "json2sbp"
path = "src/json2sbp.rs"

[[bin]]
name = "json2json"
path = "src/json2json.rs"