name: Benchmarks
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - staging
    tags:
      - "*"
  pull_request:
    paths:
      - "python/**"
      - "haskell/**"
      - "rust/**"
      - "kaitai/python/**"
      - "kaitai/perl/**"
      - scripts/ci_benchmark.bash
      - scripts/ci_benchmark_install.bash
      - test_data/benchmark_main.py
      - .github/workflows/benchmark.yaml
jobs:
  benchmark:
    name: Benchmark
    runs-on: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        run: ./scripts/ci_prepare_python.bash
      - name: Run benchmarks
        run: |
          source ./scripts/ci_benchmark_install.bash
          ./scripts/ci_benchmark.bash
        env:
          VIA_DOCKER: y
