name: Build docker image
on:
  workflow_dispatch:
  pull_request:
    paths:
      - Dockerfile
      - Makefile
      - .github/workflows/docker.yaml
jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Build image
        run: |
          mkdir docker-build
          cd docker-build
          docker build -f ../Dockerfile -t libsbp-build .
          cd ..

      - name: List images
        run: docker images

      - name: Run make all inside image
        # javascript fails due to permissions
        # rust fails due to missing stdbool.h
        run: docker run --rm -v $PWD:/mnt/workspace -t libsbp-build:latest sudo --preserve-env=PATH,RUSTUP_HOME,CARGO_HOME,NVM_DIR,NODE_PATH make c python gen-javascript java docs haskell protobuf gen-rust jsonschema quicktype rust
