name: Haskell

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    paths:
      - "haskell/**"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: haskell/actions/setup@v1
        with:
          enable-stack: true

      - name: Build binaries
        id: build
        working-directory: ./haskell
        run: |
          VERSION="$(git describe --always --tags --dirty)"
          BUILD_TRIPLET="$(cc -dumpmachine)"
          ARTIFACT_NAME="sbp_tools_haskell-${VERSION}-${BUILD_TRIPLET}.zip"

          mkdir ./bins
          stack install --local-bin-path ./bins
          zip -r ./bins -czf $ARTIFACT_NAME \
            sbp2json \
            sbp2prettyjson \
            sbp2yaml \
            json2sbp \
            json2json \
            sbp2nmea
          echo "::set-output name=artifact_name::$ARTIFACT_NAME"

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.build.outputs.artifact_name }}
          path: ./haskell/${{ steps.build.outputs.artifact_name }}

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build]
    name: Publish github release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Upload Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "artifacts/*/*.zip"
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
