name: Java
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - staging
    tags:
      - "*"
  pull_request:
    paths:
      - "java/**"
      - .github/workflows/java.yaml
jobs:
  tests-java-1_8:
    name: Test
    runs-on: ubuntu-24.04
    container: ubuntu:20.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5.2.0
        with:
          java-version: "11"
          distribution: "temurin"
      - name: Update apt and install unzip
        run: |
          apt-get update
          apt-get install -y unzip make
        shell: bash
      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 7.1.1
      - name: Run tests
        run: make test-java
