name: JavaScript
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    paths:
      - "javascript/**"
      - "spec/tests/**"
      - package.json
      - package-lock.json
      - .github/workflows/javascript.yaml
jobs:
  coverage:
    name: Test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        shell: bash
        run: make test-javascript
