name: Python
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - staging
    tags:
      - "*"
  pull_request:
    paths:
      - "python/**"
      - "spec/tests/**"
      - requirements.txt
      - tox.ini
      - scripts/ci_prepare_python.bash
      - .github/workflows/python.yaml
jobs:
  coverage:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: ./scripts/ci_prepare_python.bash

      - name: Run tests
        run: make test-python
